$primary: #a347fe;
.btn-primary{
    color: white !important;
}
.btn-outline-primary{
    &:hover {
        color: #ebddff !important;
    }

    &:active {
        color: #dbcdfb !important;
    }
}
.btn-light {
    color: $primary !important;
    background-color: white !important;
    border: none !important;

    &:hover {
        background-color: #e8ddff !important;
    }

    &:active {
        background-color: #dfcdfb !important;
    }
}

@import 'bootstrap/scss/bootstrap';